body{
    background: skyblue repeat fixed;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    font: 24px bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
ul#header{
    width: 900px;
    padding: 10px;
    margin: 0px auto 0px auto;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
li.uno{
    display: inline;
    margin: 5px;
}
a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
a.link{
    color: #000;
}
a#presentacion{
    text-transform: none;
    color: #000;
}
a:hover{
    color: grey;
}
a#presentacion:hover, a.link:hover{
    color: lightslategray;
}
img{
    float: left;
    margin-right: 5px;
    clear: both;
}
h2{
    border-bottom: 2px solid #000;
}
h2.sub{
    margin-left: 3px;
    padding: 5px;
}
hr{
    border: 1px solid #000;
}
table{
    width: 900px;
    border-spacing: 5px 10px;
}
th{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 80%;
    border-bottom: 2px solid #000;
}
th.titulo{
    text-align: center;
}
th, td{
    padding: 5px 7px 5px 7px;
    text-align: left;
}
